.products-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.products-page-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product:hover {
  transform: scale(1.05);
}

.product-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.cart-open-btn {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #cdb4db;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}