.reviews-list-container {
  background-color: black;
  width: 50%;
  margin: 0 auto 50px;
  border-radius: 10px;
  background-image:linear-gradient( 
                to bottom, #ffc8dd, #cdb4db);
  padding: 20px;
}