.suggestions-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-image:linear-gradient( 
                to bottom, #ffc8dd, #cdb4db)
}