.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  border: 1px solid purple;
  padding: 8px 12px;
  cursor: pointer;
  color: purple;
  text-decoration: none;
}

.pagination .active a {
  background-color: #A8A8A8;
  color: #fff;
  border-color: #333;
}

.suggestions-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-image:linear-gradient( 
                to bottom, #ffc8dd, #cdb4db)
}