.sandwich-builder-container {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  color: #005f73;
}

.sandwich-builder-header {
  font-size: 1.5em;
  align-self: center;
  margin-bottom: 20px;
}

.sandwich-builder-form {
  display: flex;
  flex-direction: column;
}

.radio-buttons, .checkbox-buttons {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-selector {
  padding: 10px 0;
}

.hot-toasted-checkbox, .total-price {
  padding: 5px 0;
}

.radio-button,
.checkbox-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  margin: 20px auto 0;
  height: 30px;
  width: 50%;
  background-image:linear-gradient( 
    to bottom, #ffc8dd, #cdb4db);
  cursor: pointer;
  border-radius: 10px;
  color: #005f73;
}

.category-label {
  display: block;
  margin-bottom: 20px;
}