/* TODO Add site wide styles */

body {
  background-color: #caf0f8;
}

.errors {
  color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  border: 1px solid purple;
  padding: 8px 12px;
  cursor: pointer;
  color: purple;
  text-decoration: none;
}

.pagination .active a {
  background-color: #A8A8A8;
  color: #fff;
  border-color: #333;
}