.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-details {
  margin-top: 10px;
}

.cart-item-details p {
  margin: 5px 0;
}

.remove-cart-item-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #bde0fe;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}